{% extends 'base/base.html' %}
{% load humanize %}

{% block title %} | Welcome {% endblock title %}

{% block content %}
    <section id="showcase">
        <div class="container text-center">
            <div class="home-search">
                <h1 class="display-4 mb-4">
                    Discover Your New Home
                </h1>
                <p class="lead">
                    Helping 100 million renters find their perfect fit.
                </p>
            </div>
        </div>
    </section>    
{% endblock content %}